@use '../abstracts/colors';

:root {
  &[data-theme='light'] {
    --background: #{colors.$sunglow};
    --primary-text: #{colors.$martinique};
  }

  &[data-theme='dark'] {
    --background: #{colors.$martinique};
    --primary-text: #{colors.$athens-gray};
  }
}
