@use '../base/typography';
@use '../abstracts/colors';
@use '../abstracts/mixins';

:root {
  &[data-theme='light'] {
    --menu-text: #{colors.$martinique};
    --menu-active-text: #{colors.$sunglow};
    --menu-background: #{darken(colors.$sunglow, 10%)};
    --menu-active-background: #{colors.$martinique};
  }

  &[data-theme='dark'] {
    --menu-text: #{colors.$sunglow};
    --menu-active-text: #{colors.$martinique};
    --menu-background: #{darken(colors.$martinique, 10%)};
    --menu-active-background: #{colors.$sunglow};
  }
}

.menu {
  @include typography.h4($line-height: 1);
  @include mixins.wrapper;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: var(--site-menu-height);
  align-items: center;
  gap: calc(var(--grid-gap) * 2);
}

.menu__logo {
  z-index: 1;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  fill: var(--menu-active-background);
  transition: fill var(--site-theme-transition);

  svg {
    width: 100%;
    height: 100%;
  }
}

%menu-items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--grid-gap);

  @mq ('>=md') {
    flex-direction: row;
  }
}

%menu-links {
  padding: var(--grid-gap);
  border-radius: var(--border-radius);
  color: var(--menu-text);
  text-decoration: none;
  transition: color var(--site-theme-transition),
    background-color var(--site-theme-transition);
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }

  .menu__nav-item[data-state='active'] > & {
    background-color: var(--menu-active-background);
    color: var(--menu-active-text);
  }
}

.menu__toggle {
  position: relative;
  display: flex;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 0.18em;
    margin: auto;
    background-color: var(--menu-text);
    content: ' ';
    transition: var(--site-theme-transition);
  }

  &::before {
    transform: translateY(-150%);

    .menu__nav[aria-expanded='true'] & {
      transform: translateY(0) rotate(-45deg);
    }
  }

  &::after {
    width: 65%;
    transform: translateY(150%);

    .menu__nav[aria-expanded='true'] & {
      width: 100%;
      transform: translateY(0) rotate(45deg);
    }
  }

  &:hover {
    &::before,
    &::after {
      opacity: 1;
    }
  }

  @mq ('>=md') {
    display: none;
  }
}

.menu__nav {
  z-index: 0;

  @mq ('<md') {
    order: 1;

    // margin-left: auto;
  }
}

.menu__nav-list {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(var(--grid-gap) * 4);
  background-color: var(--menu-active-background);
  gap: calc(var(--grid-gap) * 3);
  list-style: none;
  transform: translateX(100%);
  transition: background-color var(--site-theme-transition);

  @mq ('<md') {
    transition: transform 350ms ease-out,
      background-color var(--site-theme-transition);

    .menu__nav[aria-expanded='true'] & {
      transform: translate(0);
    }

    [data-theme='light'] &,
    [data-theme='dark'] & {
      background-color: var(--menu-background);
      box-shadow: 0 100vh var(--menu-background);
    }
  }

  @mq ('>=md') {
    position: relative;
    z-index: initial;
    top: initial;
    right: initial;
    width: auto;
    min-height: 0;
    flex-direction: row;
    padding: 0;
    background-color: transparent !important;
    gap: var(--grid-gap);
    transform: translateX(0);
  }
}

.menu__nav-item {
  @extend %menu-items;
}

.menu__nav-link {
  @extend %menu-links;
}

.menu__subpages {
  font-size: 0.8em;
  list-style: none;
  transition: all 150ms ease;

  @mq ('>=md') {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: translateY(40px);
    visibility: hidden;
  }

  &:hover,
  .menu__nav-item:hover > &,
  .menu__nav-item:focus-within > & {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.menu__subpage-item {
  @extend %menu-items;
}

.menu__subpage-link {
  @extend %menu-links;
}

.menu__theme-toggle {
  z-index: 1;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: auto;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--menu-active-background);
  cursor: pointer;
  fill: var(--menu-active-background);
  outline-offset: 4px;
  transform-origin: center;
  transition: fill var(--site-theme-transition),
    box-shadow var(--site-theme-transition), transform 400ms ease-in-out;

  &:hover,
  &:focus {
    transform: rotate(120deg);
  }
}

.menu__theme-toggle-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  transform-origin: center;
  transition: fill var(--site-theme-transition), transform 400ms ease-in-out,
    opacity 400ms ease-in-out;

  [data-theme='light'] & {
    &.--dark {
      opacity: 0;
      transform: scale(0);
    }

    &.--light {
      opacity: 1;
      transform: scale(1);
    }
  }

  [data-theme='dark'] & {
    &.--dark {
      opacity: 1;
      transform: scale(1);
    }

    &.--light {
      opacity: 0;
      transform: scale(0);
    }
  }
}
