@use '../abstracts/mixins';

:root {
  --site-max-width: 1440px;
  --site-nav-height: 65px;
  --site-theme-transition: 250ms ease-out;
  --grid-gap: 0.5em; // might swap back to 8px
  --grid-spacing: clamp(
    calc(var(--grid-gap) * 3),
    calc(1rem + 3vw),
    calc(var(--grid-gap) * 12)
  );
  --border-radius: 2px;
}

html {
  min-width: 320px;
  box-sizing: border-box; // default to border-box
  font-size: 62.5%; // convert 1rem = 10px
  line-height: 1.5;
  overflow-x: hidden;
}

// box-sizing inherited throughout
*,
*::before,
*::after {
  box-sizing: inherit;
}

// no unexpected spacing
* {
  padding: 0;
  margin: 0;
}

// set default font size
body {
  @include mixins.is-flex(center, center, column);
  @include mixins.wrapper;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text-primary);
  font-size: 1.6rem; // 1.6rem = 16px
  gap: var(--grid-spacing);
  transition: background-color var(--site-theme-transition);
}

// prevents annoying line-height gaps
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// maintains good responsive constraints for typography
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
blockquote {
  hyphens: auto;
  overflow-wrap: break-word;
}

// hides inline spritesheet generated for SVGs
.svg__spritesheet {
  display: none;
}
