@use '../helpers/variables';
@use '../helpers/utilities';

:root {
  --spacing: #{variables.$spacing * 0.25};

  @media ('>=sm') {
    --spacing: #{variables.$spacing * 0.5};
  }

  @media ('>=lg') {
    --spacing: #{variables.$spacing};
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem; // = 16px default font size
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

// Hide inline spritesheet
.svg__spritesheet {
  display: none;
}

.wrapper {
  @include utilities.wrapper;
}
