@use '../abstracts/variables';
@use '../abstracts/mixins';

:root {
  --spacing: clamp(
    #{variables.$spacing * 0.25},
    calc(1rem + 3vw),
    #{variables.$spacing}
  );
}

html {
  box-sizing: border-box; // default to border-box
  font-size: 62.5%; // convert 1rem = 10px
  -webkit-font-smoothing: antialiased;
}

// box-sizing inherited throughout
*,
*::before,
*::after {
  box-sizing: inherit;
}

// no unexpected spacing
* {
  padding: 0;
  margin: 0;
}

// set default font size
body {
  font-size: 1.6rem; // 1.6rem = 16px
}

// prevents annoying line-height gaps
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// maintains good responsive constraints for typography
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
blockquote {
  hyphens: auto;
  overflow-wrap: break-word;
}

// hides inline spritesheet generated for SVGs
.svg__spritesheet {
  display: none;
}

// general site-wrapper
.wrapper {
  @include mixins.wrapper;
}
