@use '../abstracts/mixins' as *;

@mixin h1($color: false, $weight: 700, $margin: false) {
  @include type(
    $name: primary,
    $size: (
      1.6rem,
      5.4rem,
    ),
    $weight: $weight,
    $color: $color,
    $line-height: 1.3
  );

  @if $margin {
    margin: $margin;
  }
}

@mixin h2($color: false, $weight: 400, $margin: false) {
  @include type(
    $name: primary,
    $size: 3.6rem,
    $weight: $weight,
    $color: $color,
    $line-height: 1.2
  );

  @if $margin {
    margin: $margin;
  }

  strong {
    font-weight: 800;
  }
}

@mixin h3($color: false, $weight: 800, $margin: false) {
  @include type(
    $name: primary,
    $size: 2.4rem,
    $weight: $weight,
    $color: $color
  );

  @if $margin {
    margin: $margin;
  }
}

@mixin h4($color: false, $weight: 700, $margin: false, $letter-spacing: 0.2em) {
  @include type(
    $name: primary,
    $size: 1.6rem,
    $weight: $weight,
    $color: $color,
    $letter-spacing: $letter-spacing,
    $transform: uppercase
  );

  @if $margin {
    margin: $margin;
  }
}

@mixin h5($color: false, $weight: 400, $margin: false) {
  @include type(
    $name: primary,
    $size: 1.4rem,
    $weight: $weight,
    $color: $color
  );

  @if $margin {
    margin: $margin;
  }

  strong {
    font-weight: 800;
  }
}

@mixin body($color: false, $weight: 400, $margin: false) {
  @include type(
    $name: 'secondary',
    $size: 1.8rem,
    $weight: $weight,
    $color: $color
  );

  @if $margin {
    margin: $margin;
  }

  strong {
    font-weight: 800;
  }
}
