extends layouts/default

block includes

//- Page Head Variables
block vars
  - var title = 'Site Title Name';
  - var description = '';

block content
  .svg__spritesheet
    include includes/inline.svg

  +tag('Index Page')

  //- Footer
  include includes/footer
