// Colors

$martinique: #333652;
$sunglow: #fad02c;
$athens-gray: #e9eaec;
$nepal: #90adc6;

// Settings
$site-width: 1440px;
$grid-gap: 16px;
$spacing: $grid-gap * 6;
$border-radius: 2px;
$nav-height: 65px;
