extends ../../layouts/_default

//- page includes
block includes

//- page variables
block vars
  - var page = 'Sample Blog Post';
  - var title = 'Sample Blog Post';

block content
  //- place page-specific content here
