:root {
  --site-max-width: 1440px;
  --site-menu-height: 75px;
  --site-theme-transition: 250ms ease-out;
  --grid-gap: 0.5em; // might swap back to 8px
  --grid-spacing: clamp(
    calc(var(--grid-gap) * 3),
    calc(1rem + 3vw),
    calc(var(--grid-gap) * 12)
  );
  --border-radius: 2px;
}
