// NORMALIZE (loaded from node_modules)
@import 'normalize-scss/sass/normalize';

// VENDORS (loaded from node_modules)
@import 'include-media/dist/_include-media';
@import 'rfs/scss';

// HELPERS
@import 'helpers/variables';
@import 'helpers/typography';
@import 'helpers/utilities';

// PARTIALS
// @import 'partials/example';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem; // = 16px default font size
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

// Hide inline spritesheet
.svg__spritesheet {
  display: none;
}

.wrapper {
  @include wrapper;
}
