include ../mixins/bundle

//- If specific includes are necessary on a per page basis
block includes

//- Define page variables here such as 'title' and 'description'
block vars

doctype html
html(dir='ltr', lang='en')
  head
    +headContent(title, description)
    block head

  body
    block content

    //- Scripts
    script(src='assets/js/scripts.js')

    //- If extra scripts are needed
    block scripts
